# takt and reset
NET "iCLK"        LOC="M21";
NET "iRSTn"       LOC="AE24"; 

# LEDs
NET "oQ<3>"       LOC="D24";
NET "oQ<2>"       LOC="H24";
NET "oQ<1>"       LOC="K24";
NET "oQ<0>"       LOC="L23";

# SW[7:0]    
NET "iWe"         LOC="U19";
NET "iOe"         LOC="U24"; 
NET "iAddress<1>" LOC="U23";
NET "iAddress<0>" LOC="U20";
NET "iD<3>"       LOC="V24";
NET "iD<2>"       LOC="K19";
NET "iD<1>"       LOC="Y24";
NET "iD<0>"       LOC="W19";
