//! **************************************************************************
// Written by: Map P.20131013 on Wed Nov 07 12:34:21 2018
//! **************************************************************************

SCHEMATIC START;
COMP "iD<2>" LOCATE = SITE "K19" LEVEL 1;
COMP "oQ<3>" LOCATE = SITE "D24" LEVEL 1;
COMP "iD<3>" LOCATE = SITE "V24" LEVEL 1;
COMP "iRSTn" LOCATE = SITE "AE24" LEVEL 1;
COMP "iCLK" LOCATE = SITE "M21" LEVEL 1;
COMP "iOe" LOCATE = SITE "U24" LEVEL 1;
COMP "iAddress<0>" LOCATE = SITE "U20" LEVEL 1;
COMP "iAddress<1>" LOCATE = SITE "U23" LEVEL 1;
COMP "iWe" LOCATE = SITE "U19" LEVEL 1;
COMP "oQ<0>" LOCATE = SITE "L23" LEVEL 1;
COMP "iD<0>" LOCATE = SITE "W19" LEVEL 1;
COMP "oQ<1>" LOCATE = SITE "K24" LEVEL 1;
COMP "iD<1>" LOCATE = SITE "Y24" LEVEL 1;
COMP "oQ<2>" LOCATE = SITE "H24" LEVEL 1;
SCHEMATIC END;

